################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/CSharp/FileContentIndex
/.vs/C_Sharp/FileContentIndex/821578a8-411a-471e-9ac5-5493477d7543.vsidx
